<div class="step">
    @ChildContent
</div>

@code {
    private int index = 1;
    [Parameter] public int StepActive { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

    private string isActive()
    {
        if(index == StepActive)
        {
            return "step__icon--active";
        }
        else
        {
            return "";
        }
    }
}
