.step {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 0px auto;
}

.step__divider {
    margin: 0;
}

.step > hr:not(:last-child) {
    border: 0;
    border-top: 1px solid #2151CC;
    margin: 0px 8px;
    width: 80px;
}

.step__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step__icon {
    display: flex;
    border-radius: 50%;
    border: 1px solid #2151CC;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #2151CC;
    height: 32px;
    width: 32px;
}

.step__icon--active {
    background-color: #2151CC;
    color: white;
}

.step__describe {
    text-align: center;
}
