@page "/CadastroContato"
@using Projeto_Contabilidade.Client.Componentes.Steper
@using Projeto_Contabilidade.Client.Componentes.Formulario

<div class="card">
    <h4 class="card-header">Cadastro de Contato</h4>
    <div class="card-body">

        @*Inserir 'EditForm'*@
        <Steper StepActive="@stepActive">
            <Step Describe="Informações Gerais" Index=1 Active="stepActive == 1 ? true : false"></Step>
            <Step Describe="Informações Contato" Index=2 Active="stepActive == 2 ? true : false"></Step>
        </Steper>
    </div>
</div>

@code {
    private string teste = "teste";

    public int stepActive = 1;
    // Mock Formulário
    string[] formInputs = { "Nome", "CPF", "E-mail", "Telefone" };

    // Mock Steper
    string[] steperDescribes = { "Informações Gerais", "Informações Contato" };
}
