@page "/InformacaoContato"
@using Projeto_Contabilidade.Client.Componentes.Input

@inject NavigationManager NavigationManager
<div class="info">
    <h3 class="info__title">Jurislei Armando</h3>
    <h4 class="info__subTitle">Marketing</h4>
    <div class="info__controls">
        <Input readOnly="true" value="04/12/2001" label="Data Cadastro" id="info_dataCadastro"></Input>
        <Input readOnly="true" value="(41)99999-3333" label="Celular" id="info_celular"></Input>
        <Input readOnly="true" value="jurislei@gmail.com" label="Email" id="info_email"></Input>
    </div>
    <div class="info__buttons">
        <button class="btn btn-lg btn-outline-primary" @onclick=@(() => NavigationManager.NavigateTo("CadastroContato"))>
            Editar
        </button>
        <button class="btn btn-lg btn-outline-danger" )>
            Deletar
        </button>
    </div>
</div>

@code {

}
