@using Projeto_Contabilidade.Client.Componentes.Botao
@using Projeto_Contabilidade.Client.Componentes.Input
<form class="form">
    <h3 class="form__title">
        @formTitle
    </h3>
    <div class="form__inputs">
        @foreach (string input in formInputs)
        {
            <Input readOnly="false" label="@input"> </Input>
        }
    </div>
    <div class="form__line__button">
        <button class="button button--small button--action">Voltar</button>
        <button class="button button--small button--action">Próximo</button>
    </div>
</form>

@code {

    [Parameter] public string formTitle { get; set; }

    [Parameter] public string[] formInputs { get; set; }

    [Parameter] public int step { get; set; }
}
