@using Projeto_Contabilidade.Client.Pages.cliente
@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<div class="page">


    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main p-5">

        @Body
    </div>


</div>

@code {
    private string autenticated = "false";

    protected async override Task OnInitializedAsync()
    {
        await GetAutentication();
    }

    private async Task GetAutentication()
    {
        string autentication = await JSRuntime.InvokeAsync<string>("blazorExtensions.GetCookieAutenticated");
        autenticated = autentication;
    }
}