@page "/CadastroCliente"
@page "/CadastroCliente/{codCliente}"
@inject IJSRuntime jsRuntime

@using Projeto_Contabilidade.Client.Pages.cliente
@using Projeto_Contabilidade.Client.Componentes.Steper
@using Projeto_Contabilidade.Client.Componentes.Formulario

<div class="card">
    <h4 class="card-header">Cadastro de Cliente</h4>
    <div class="card-body">

        <EditForm Model="vmCliente">
            <Steper stepActive="@stepActive" stepDescribe="@steperDescribes"></Steper>
            <Formulario formTitle="Informações de Contato" formInputs="@formInputs"></Formulario>
        </EditForm>

    </div>
</div>

@code {
    public int stepActive = 1;
    [Parameter] public string codCliente { get; set; }
    ClienteViewModel vmCliente = new ClienteViewModel();

    protected override async Task OnInitializedAsync()
    {
        //Inicialização da Página
    }

    private async Task CadastrarCliente()
    {
        try
        {

        }
        catch (InvalidOperationException ex)
        {

        }
    }

    // Mock Formulário
    string[] formInputs = { "Nome", "CNPJ", "E-mail", "Telefone" };

    // Mock Steper
    string[] steperDescribes = { "Informações Gerais", "Informações Contato" };

}
