.steper {
    width: 500px;
    margin: 0px auto;
}

.form__div{
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 40px;
    flex-wrap: wrap;
}

.form__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: start;
}

.form__inputs {
    display: flex;
    justify-content: space-between;
    gap: 24px 0px;
    flex-wrap: wrap;
}

.form__line__button {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.field__control {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    width: 240px;
}

.field__input {
    border: none;
    border-bottom: 2px solid #c4c4c4;
    transition: .1s ease all;
    outline: none;
}

.field__input--active:focus {
    border-bottom: 2px solid #2151CC;
}
