@page "/InformacaoCliente"
@using Projeto_Contabilidade.Client.Componentes.Tabela
@using Projeto_Contabilidade.Client.Componentes.Input
@using Projeto_Contabilidade.Client.Pages.Contato
@inject NavigationManager NavigationManager

<div class="info">
    <h3>Senhoria Seu Carlos</h3>
    <div class="info__controls">
        <Input readOnly="true" value="81.489.456/0001-77" label="CNPJ" id="info_cnpj"></Input>
        <Input readOnly="true" value="04/12/2001" label="Data Cadastro" id="info_dataCadastro"></Input>
        <Input readOnly="true" value="Master" label="Plano Contratado" id="info_planoContratado"></Input>
        <Input readOnly="true" value="84" label="Total de Empregados" id="info_totalEmpregados"></Input>
    </div>
    <TabelaContato tableLink="CadastroContato" contatos="contatos"></TabelaContato>
    <div class="info__buttons">
        <button @onclick=@(() => NavigationManager.NavigateTo("CadastroCliente")) class="button button--normal button--edit">Editar</button>
        <button class="button button--normal button--delete">Deletar</button>
    </div>
</div>

@code {
    List<ContatoViewModel> contatos = new List<ContatoViewModel>();
    protected override void OnInitialized()
    {
        ContatoViewModel contato = new ContatoViewModel();
        contato.Nome_Contato = "Jurislei Armando";
        contato.Email = "jurislei.armando@senhoriacarlos.com";
        contatos.Add(contato);
        contatos.Add(contato);
        contatos.Add(contato);
        base.OnInitialized();
    }
}
