@page "/PesquisaCliente"
@inject NavigationManager NavigationManager;

<div class="table__header--title">
    <h2 class="table__title">Clientes Cadastrados</h2>
    <div class="table__search">
        <span class="oi oi-magnifying-glass"></span>
        <input placeholder="Pesquisa" class="table__search--input" />
    </div>
</div>
<table class="table">
    <tr class="table__tr table__header">
        <th class="table__th">Nome</th>
        <th class="table__th">CNPJ</th>
        <th class="table__th">Data Cadastro</th>
        <th class="table__th">
            Ações
        </th>
    </tr>
    <tbody>
        @foreach (ClienteViewModel cliente in clientes)
        {
            <tr class="table__tr" @onclick=@(() => NavigationManager.NavigateTo("InformacaoCliente"))>
                <td class="table__td">
                    @cliente.Razao_Social
                </td>
                <td class="table__td">
                    @cliente.Cnpj
                </td>
                <td class="table__td">
<<<<<<< HEAD
                    @cliente.Cnpj
=======
                    @cliente.Data_Cadastro
>>>>>>> c659bd29fae739e2965e65a56e2e017ef37f614b
                </td>
                <td class="table__td">
                    <div>
                        <button type="button" class="btn btn-outline-success"
                            @onclick=@(() => NavigationManager.NavigateTo("CadastroCliente"))>
                            Editar
                        </button>
                        <button type="button" class="btn btn-outline-danger">Deletar</button>
                    </div>
                </td>
            </tr>
        }
        <tr class="table__tr ">
            <td colspan=4 class="table__td ">
                <button class="btn btn-outline-info"
                        @onclick=@(() => NavigationManager.NavigateTo("CadastroCliente"))>
                    Adicionar Cliente
                </button>
            </td>
        </tr>
    </tbody>
</table>

@code {

    public ClienteViewModel cliente = new ClienteViewModel();
    List<ClienteViewModel> clientes = new List<ClienteViewModel>();
    public string[] tableHeaders = { "Nome", "CNPJ", "Cliente Desde de Quando" };

    protected override void OnInitialized()
    {
        //cliente.Razao_Social = "Senhoria Seu Carlos";
        //cliente.Cnpj = "81.489.456/0001-77";
        //cliente.Data_Cadastro = DateTime.Now;

        clientes.Add(cliente);
        clientes.Add(cliente);
        clientes.Add(cliente);
    }

}
